body {
    padding: 0;
    margin: 0;
    background-color: black;
    
}

.video-background {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  
  .video-content {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
 
  
  
  
  

.top {
    border: 1px solid black;
    
    width: 46%;
}
li {
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 0px 30px ;
    font-size: larger;
    font-weight: 500;
    color: white;
}

.auto {
    border: none;
    width: 50%;
    top: 384px;
    text-align: center;
    position: absolute;
    right: 397px;
    font-size: x-large;
    font-weight: 600;
    color: white;

}

.start {
    border: none;
    width: 50%;
    text-align: center;
    top: 415px;
    right: 396px;
    position: absolute;
    font-size: xx-large;
    font-weight: 600;
    color: white;

}

a:hover {
    color: white;
}

.disc {
    border: none;
    color: white;
    width: 50%;
    text-align: center;
    top: 475px;
    right: 420px;
    position: absolute;
    font-size: x-large;
    font-weight: 600;
}

.fold {
    top: 505px;
    right: 630px;
    position: absolute;
    color: white;
    font-size: larger;
}
.down {
    top: 700px;
    right: 760px;
    position: absolute;
    color: white;
    font-size: x-large;
}